@import '@/styles/utils/media_query.scss';
@import '@/styles/utils/variables.scss';


.hex-container {
  position: relative;
  
  .hex {
    --num_of_hex: 15.5;
    @include media_query(lg) {
      --num_of_hex: 13.5;
    }
    @include media_query(md) {
      --num_of_hex: 11.5;
    }
    @include media_query(sm) {
      --num_of_hex: 9.5;
    }
    @include media_query(xs) {
      --num_of_hex: 7.5;
    }
    --hex_margin: 0.175vw;
    --total_hex_margin: calc(var(--hex_margin) * calc(var(--num_of_hex) + 2));
    --hex_size: calc(calc(100vw - var(--total_hex_margin)) / var(--num_of_hex));

    --f: calc(var(--hex_size) * 1.732 + 4 * var(--hex_margin) - 1px);
    position: absolute;
    overflow: hidden;
    z-index: -100;
    top: calc(calc(var(--hex_size) / 2) * -1);
    background: radial-gradient(at 50% 35%, $secondary-color, $base-color-dark);
    // background: radial-gradient($base-color-dark, $base-color-light);
    animation: animate-hex-bg 2s linear 1s infinite alternate-reverse;
    
    .container {
      position: relative;
      display:flex;
      overflow-wrap: break-word;
      overflow: hidden;

      .wrapper {
        font-size: 0; 
        overflow-y: clip;
        overflow-x: clip;

        span, div {
          width: var(--hex_size);
          margin: var(--hex_margin);
          height: calc(var(--hex_size) * 1.1547);
          display: inline-block;
          font-size:initial;
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          margin-bottom: calc(var(--hex_margin) - var(--hex_size) * 0.2885);
          background-color: $base-color-darker;
        }
        
        &::before {
          content: "";
          width: calc(var(--hex_size) / 2 + var(--hex_margin));
          float: left;
          height: 120%; 
          shape-outside: repeating-linear-gradient(transparent 0 calc(var(--f) - var(--hex_margin)), $base-color-darker 0 var(--f));
        }
      }
      
    }
  }
}

@keyframes animate-hex-bg{
  0% {
    background: radial-gradient(at 50% 50%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 0%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 0%));
  }
  10% {
    background: radial-gradient(at 51% 51%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 5%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 5%));
  }
  20% {
    background: radial-gradient(at 52% 52%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 10%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 10%));
  }
  30% {
    background: radial-gradient(at 53% 53%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 15%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 15%));
  }
  40% {
    background: radial-gradient(at 54% 54%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 20%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 20%));
  }
  50% {
    background: radial-gradient(at 55% 55%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 25%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 25%));
  }
  60% {
    background: radial-gradient(at 56% 56%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 30%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 30%));
  }
  70% {
    background: radial-gradient(at 57% 57%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 35%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 35%));
  }
  80% {
    background: radial-gradient(at 58% 58%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 40%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 40%));
  }
  90% {
    background: radial-gradient(at 59% 59%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 45%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 45%));
  }
  100% {
    background: radial-gradient(at 60% 60%, color-mix(in srgb, $secondary-color 100%, $secondary-color-light 50%), color-mix(in srgb, $base-color-dark 100%, $base-color-darker 50%));
  }
}
